[Unit]
Description=Backup healthchecks with restic

[Service]
Type=oneshot
WorkingDirectory=%h/.config/restic/healthchecks
ExecStartPre=-curl -sS -m 10 --retry 5 https://hc-ping.com/your-uuid-here/start
ExecStart=/bin/bash ./backup.sh
ExecStartPost=curl -sS -m 10 --retry 5 https://hc-ping.com/your-uuid-here/${EXIT_STATUS}

[Install]
WantedBy=multi-user.target